<!DOCTYPE html>
<html>
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <h2>List output is in your console</h2>
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Here are the all request templates from PostresDB</title>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
<!--</head>-->
<!--<body>-->
<!--<table border="1">-->
    <!--<tr>-->
        <!--<th>ID</th>-->
        <!--<th>Short number</th>-->
        <!--<th>Request</th>-->
        <!--<th>Response</th>-->
    <!--</tr>-->
    <!--<tr th:each="requestInfo : ${requestInfos}">-->
        <!--<td th:utext="${requestInfo.id}">..</td>-->
        <!--<td th:utext="${accountInfo.shortNum}">..</td>-->
        <!--<td th:utext="${accountInfo.requestText}">..</td>-->
        <!--<td th:utext="${accountInfo.responseText}">..</td>-->
    <!--</tr>-->

<!--</table>-->
<!--</body>-->
<!--</html>-->